img {
  z-index: 1;
  height: 70%;
  margin: auto 4rem auto 0;
}

.cars {
  background-color: #232120;
  padding-bottom: 4rem;
  h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
    padding: 5rem 0;
  }
  .cars-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 8rem;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .card-title {
    padding: 1rem 0.5rem;
    background-color: #305b1a;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    width: 100%;
  }
  ul {
    border: none;
    list-style: none;
    width: 100%;
    li {
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      color: #4c4f4a;
    }
    li::before {
      content: "";
      border: 12px solid #8ff460;
      border-radius: 50%;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }
  }
  h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    color: #cc5227;
  }
  button {
    width: 80%;
    font-size: 2rem;
    background-color: #cc5227;
    border: none;
    margin: 1rem 0;
    border-radius: 8px;
  }
  button:hover {
    background-color: black;
  }

  .commercial-info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 0rem 4rem 6rem;
    height: 100vh;
    p {
      z-index: 1;
      color: #fff;
      font-weight: lighter;
      font-size: 3rem;
    }
    .commercial-info-bg {
      position: absolute;
      right: 0;
      top: 5vh;
      height: 70vh;
      width: 100%;
      z-index: 0;
      background-color: #720707;
      transform: skewy(-8deg);
    }
    img {
      z-index: 1;
      height: 80%;
    }
  }
  .rent-car {
    h1 {
      padding: 3rem 0;
    }
    p {
      text-align: center;
      color: #fff;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .rent-selected-car {
      margin: 4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    form {
      color: #fff;
      margin-left: 12rem;
      width: 50%;
      font-size: 2.5rem;
      .form-control {
        line-height: 3rem;
        border-radius: 0;
      }
    }
    .total-rental {
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 2.5rem;
      margin: 5rem 0;
    }
    .rent-button {
      display: flex;
      justify-content: center;
      button {
        width: 35%;
      }
    }
  }
}
